html, body {
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	margin: 0;
	color: white;
	font-family: Roboto;
}

body > div {
	width: 100%;
}

h1, h2, h3, h4, h5 {
	text-align: center;
}

img {
	max-width: 100%;
	max-height: 100%;
	-webkit-filter: grayscale(100%);
}

button {
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	color: white;
	background-color: transparent;
    border: 3px solid white;
    padding: 10px 30px;
    text-decoration: none;
    display: block;
}

#front {
	position:fixed;
    padding: 2vw;
    margin: 0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;

    z-index: 1;
    box-sizing: border-box;

    display: flex;
  	align-items: center;
  	justify-content: center;

  	animation: fadein 0.5s;
	animation-timing-function: ease-out;
}

#front > * {
	position:absolute;
	display: block;
}

#collage {
	position:fixed;
    padding: 0.5vw;
    margin: 0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;

    background: black;
    z-index: -10000;
    box-sizing: border-box;
}

#collage img {
	padding: 0.5vw;
	-webkit-filter: brightness(40%);
	-webkit-filter: grayscale(100%);
}

#countdown {	
	font-size: 25vw;
	text-align: center;

	position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;

    z-index: 1000;
    display: none;

    background: black;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
  	align-items: center;
  	justify-content: center;

	-moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	-o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	-webkit-filter: grayscale(100%);
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}

#countdown #preview {
	position: fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;

    z-index: 10000;
    background-size: cover;
    background-repeat: no-repeat;

	animation: fadein 0.5s;
	animation-timing-function: ease-in;
}

#countdown.fadeout {
	animation: fadeout 0.5s;
	animation-timing-function: ease-out;
}

#countdown span {
	position:absolute;
	display: block;
}

#countdown span.fadeout {
	animation: fadeout 1s;
	animation-timing-function: ease-out;
	
}
#countdown span.fadein {
	font-size: 5vw;
	animation: fadein 1s;
	animation-timing-function: ease-in;
}

#countdown .loading {
	animation: fadein 1s;
	animation-timing-function: ease-out;
	position:absolute;
}

#countdown .loading i {
	text-align: center;
	display: inline-block;
}

.fa {
	font-size: 10vw;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}