a, a:hover, a:active, a:focus {
	color: #ebebeb;
	text-decoration: none;

}

html {
	overflow-x: hidden;
}

/* -------------------- */

nav {
	height: 64px;
		line-height: 64px;
	width: 100%;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
	display: block;
	font-size: 17px;

	color: #ebebeb;
		background-color: #4e5d6c;
}

nav .my-navbar {
	padding: 0 30px;
}

nav .my-navbar .my-brand {
	float: left;
}

nav .my-navbar .my-back-button {
	float: right;
	font-size: 24px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}

nav .my-navbar .my-back-button:hover {
}


/* -------------------- */


.table {
	display: table;
	width: 100%;
	padding: 0 0 20px;
}
.row {
	display: table-row;

}
.cell {
	display: table-cell;
	padding: 10px 10px 10px 0;
}

.cell:last-child {
	display: table-cell;
	padding: 10px 0;
}



/* -------------------- */


.wrapper {
	display: relative;
	transition: transform 1s ease-in-out;
}

.wrapper.show-settings {
	transform: translate3d(-100vw,0,0);
	
}

ul#photos {
	list-style-type: none;
	padding-left: 0;
}

ul#photos img {
	max-width: 100%;
}

ul#photos li {
	padding: 10px;
}

.windows {
	margin: 15px 0;
	padding: 10px;
	display: block;
}

.windows h3 {
	margin-top: 0;
}

.close-button {
	position: absolute;

	top: 12px;
	right: 17px;

	font-size: 25px;
}

.image {
	width: 100%;
	height: 100%;
	position: relative;

	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.image .overlay {
	position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12%;
    display: inline-block;
	background: rgba(0, 0, 0, .4);

    font-size: 20px;

    text-align: right;
}

.image .overlay a {
	padding: 5px 10px;
}


/* -------------------- */

.buttons {
}


/* -------------------- */

input[type=range] {
    border: none;
}

p.range-field {

}

span.thumb {

}

